{% extends "base.html" %}
{% load wagtailimages_tags %
{% load staticfiles%}

{% block content %}
<br>
<br>
<br>
<div>
    <p style="text-align: center">
        <img src="{% static 'images/logo.png'%}" herf="/" alt=""/>
    </p>
<!--            <a class="navbar-brand mr-2" href="/">RSquare</a>-->
</div>

<br>
<p style="text-align: center; font-size: 20pt">
Yth <b>{{nama}}</b>, Pesanan {{title}} anda dengan harga RP.{{price}} sedang diproses.
Silahkan tunggu pesan WA dari pihak konveksi untuk konfirmasi pesanan
</p>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}