{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <br>
    <br>
    <h1 align="center">
       <b> Welcome to RSquare  </b>
    </h1>
    <br>

<!--    <a class="btn btn-primary" href="/contact">Useradministration</a>-->

    <div class="columns">
        {% for product in products %}
            <div class="column col-4">
                <div class="card">
                    <div class="card-image">
                        {% image product.image max-320x320 as tmp_image %}

                        <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="card-header">

                        <div class="card-title h5">
                            {{ product.title }}
                        </div>
                    </div>

                    <div class="card-body">
                        <a href='{% url 'home:ProductDetail' pk=product.id %}'" class="btn btn-primary float-right">
                            <p> Pesan </p>
                        </a>

                        <p> Rp. {{product.price}} </p>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
<br>
<br>
{% endblock %}