<!-- ./home/templates/home/product.html -->
{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="container grid-lg">
        <br>
        <br>
        <div class="columns">
            <div class="column col-4">
                {% image product.image max-300x300 as temp_image %}
                <img src="{{temp_image.url}}" alt="" />
            </div>
            <div class="column col-8">
                <h1 align="center">
                    {{ product.title }}
                </h1>

                <br>
                <p style="font-size: 18px">
                    {{ product.short_description }}
                </p>

                <p>
                    {% for f in custom_fields %}
                        {% if f.options_array|length > 0 %}
                            <div class="form-group">
                                <label class="form-label" for="{{ f.name|lower }}">
                                    {{ f.name }}
                                </label>
                                <select class="form-select custom-field-select" id="{{ f.name|lower }}" data-field="{{ forloop.counter }}">
                                    {% for opt in f.options_array %}
                                        <option>
                                            {{ opt }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </p>

            </div>
        </div>

        <br>
        <br>
        <a type="submit" class="btn btn-primary btn-lg btn-block" value="{{product.id}}" href='{% url 'home:passidpesanan' pk=product.id %}'>
                    <b>PESAN (Rp. {{ product.price }})</b></a>

    </div>


{% endblock %}