{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/RSquare.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- ./snipcartwagtaildemo/templates/base.html -->
        {% load  static  wagtailsettings_tags %}
        {% get_settings %}

        {# Global stylesheets #}

        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

        {# Snipcart #}

        {% if settings.home.SnipcartSettings.api_key %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
            <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="{{ settings.home.SnipcartSettings.api_key }}"></script>
            <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
        {% endif %}
    </head>

     <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="d-flex w-50 order-0">
            <a class="navbar-brand mr-2" href="/">RSquare</a>
        </div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <ul class="navbar-nav nav-fill w-100" id="mynavbar">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Kontak</a>
                </li>
            </ul>
        </div>

        <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last"></span>
    </nav>

<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <div class="navbar-nav" id="listNavbar">-->
<!--                <a class="nav-item nav-link" href="/">Home</a>-->
<!--                <a class="nav-item nav-link" href="/profile">Profil</a>-->
<!--                <a class="nav-item nav-link" href="/contact">Kontak</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <!--<body class="{% block body_class %}{% endblock %}">-->
                <!--&lt;!&ndash; ./snipcartwagtaildemo/templates/base.html &ndash;&gt;-->

        <!--<div class="container grid-lg">-->
            <!--<header class="navbar">-->

                <!--<section class="navbar-section">-->
                    <!--<a href="/" class="navbar-brand mr-2">-->
                        <!--Tentang Kami-->
                    <!--</a>-->
                <!--</section>-->

                <!--<section class="navbar-section">-->
                    <!--<a href="/contact" class="navbar-brand mr-2">-->
                        <!--Kontak-->
                    <!--</a>-->
                <!--</section>-->

                <!--&lt;!&ndash; Snipcart summary and View cart button &ndash;&gt;-->
<!--&lt;!&ndash;                <section class="navbar-section snipcart-summary">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group input-line">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="" class="btn btn-primary snipcart-checkout">&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="icon icon-apps"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            View cart (<span class="snipcart-total-items">0</span>)&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </section>&ndash;&gt;-->

            <!--</header>-->
        <!--</div>-->


        <div class="container grid-lg">
            {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
<!--        <script type="text/javascript" src="{% static 'js/snipcartwagtaildemo.js' %}"></script>-->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
